:root{
    --color-brand: #011C44;
    --text-accent-color: #2B7FFF ;
}

body{
    color: var(--color-brand);
}
p{
    font-family: Roboto;
    font-weight: 400;
}
ul{
    list-style-type: none;
}

.hero-title{
    color: var(--text-accent-color);
    text-transform: uppercase;
    font-family: 'Play';
}

.button{
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 8px;
}

.button:hover{
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}

.nav-link{
    color: var(--color-brand);
}

.nav-link:hover{
    color: var(--text-accent-color);
}

.section-title .accent{
color: var(--text-accent-color);
}
